@import 'styles/mixins';

.highlight {
  @include container;

  display: grid;
  grid-template-columns: 1fr 28.125rem;
  grid-gap: 8.5625rem;
  margin-bottom: 14.125rem;

  &:nth-child(even) {
    grid-template-columns: 28.125rem 1fr;

    > div:nth-child(1) {
      order: 1;
    }

    > div:nth-child(2) {
      order: 0;
    }
  }
 }

.image {
  max-width: 100%;
}

.heading {
  position: relative;

  margin-bottom: 1.625rem;
  padding-bottom: 1.5rem;

  &::after {
    content: '';

    position: absolute;
    top: 100%;
    left: 0;

    height: 0.125rem;
    width: 3.5rem;

    background-color: #000;
  }
}

.description {
  margin-bottom: 2.25rem;

  font-size: 1.125rem;
}
