@import 'styles/mixins.scss';

.container {
  @include boxDropShadow;

  overflow: hidden;

  background: #fff;
  border-radius: var(--border-radius);
}

.image {
  height: 15rem;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.body {
  padding: 2rem;
}

.heading {
  margin-top: 0;
  margin-bottom: 1rem;

  font-size: 1.3125rem;
}

.description {
  margin-top: 0;
  margin-bottom: 1.5rem;

  font-size: 1rem;
}

.link {
  color: var(--primary-color);
}
