@import 'styles/mixins.scss';

.wrapper {
  margin-bottom: 11.875rem;

  background: transparent url(/dots.svg) top left -3.125rem no-repeat;
}

.container {
  @include container;

  display: grid;
  grid-column-gap: 6.875rem;
  grid-template-columns: 1fr 40.625rem;

  img {
    max-width: 100%;
  }
}

.col1 {
  align-self: center;
}

.heading {
  margin-bottom: 1.5625rem;

  font-size: 3rem;
  line-height: 1.15;
}

.description {
  margin-bottom: 2.8125rem;

  font-size: 1.3125rem;
  line-height: 1.4;
}
