// Import via import buttons from 'styles/buttons.module.scss'
// Call specific buttons like an object, eg. buttons.primary, buttons.secondary

@mixin base {
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;

  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;

  border-radius: 1.875rem;
}

.primary {
  @include base;

  color: #fff;

  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.secondary {
  @include base;

  color: var(--primary-color);

  border: 0.125rem solid var(--primary-color);

  &:hover {
    color: #ffffff;

    background-color: var(--primary-color);
  }
}
