@mixin ul-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;
}

@mixin container {
  margin-right: auto;
  margin-left: auto;
  max-width: 80rem;
  padding-right: 3.125rem;
  padding-left: 3.125rem;
}

@mixin boxDropShadow {
  box-shadow: 0.625rem 2.5rem 3.125rem rgba(229, 233, 246, 0.4);
}
